div {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}

hr {
    color: gray;
    
}

footer {
    text-align: center;
}


#needHelp {
    padding-top: 25px;
    margin: 5px;
    
    font-family: helvetica, arial, sans-serif;
    
}